.DS_Store
.idea
.vscode
.hbuilderx
.settings
.buildpath
.project
.history
Thumbs.db
*.log
.env
/log
/logs
/upload
/uploads
/runtime
/dist
/dist-*
/build
/build-*
/node_modules
/uni_modules
/unpackage
/cert
.temp.driveupload
.temp.drivedownload