<?php
declare(strict_types=1);

namespace app\api\controller{% if module_name %}\{{ module_name }}{% endif %};
{% if module_name %}
use app\api\controller\CrudController;{% endif %}

use app\common\model{% if module_name %}\{{ module_name }}{% endif %}\{{class_name}}Model;
use think\response\Json;
use think\db\Query;
use think\Paginator;

/**
 * {{table_comment}}
*/
class {{class_name}} extends CrudController
{
    protected function initialize()
    {
        $this->model = new {{class_name}}Model();
        parent::initialize();
    }

    /**
    * 应用自定义查询条件
    */
    protected function applyListQueryConditions(Query $query): static
    {
        return $this;
    }

    /**
    * 处理列表结果
    */
    protected function processListResult(Paginator $dataset): void
    {
    }

    /**
    * 处理详情结果
    */
    protected function processReadResult(&$data): void
    {
    }

    public function create() {
        return fail("该功能暂未实现");
    }

    public function update($id) {
        return fail("该功能暂未实现");
    }

    public function delete($id) {
        return fail("该功能暂未实现");
    }
}
