<?php
declare(strict_types=1);

namespace app\admin\controller{% if module_name %}\{{ module_name }}{% endif %};
{% if module_name %}
use app\admin\controller\CrudController;{% endif %}

use app\common\model{% if module_name %}\{{ module_name }}{% endif %}\{{class_name}}Model;
use think\db\Query;
use think\Paginator;

/**
 * {{table_comment}}
 * @property {{class_name}}Model $model
*/
class {{class_name}} extends CrudController
{
    protected function initialize()
    {
        $this->model = new {{class_name}}Model();
        parent::initialize();
    }

    /**
    * 应用自定义查询条件
    */
    protected function applyListQueryConditions(Query $query): static
    {
        return $this;
    }

    /**
    * 处理列表结果
    */
    protected function processListResult(Paginator $dataset)
    {
    }

    protected function processReadResult(&$data)
    {
        $data->grant_ids = $data->grants ? array_column($data->grants->toArray(), 'id') : [];
    }

    /**
    * 验证创建数据
    */
    protected function validateData(array $data)
    {
    }

    /**
    * 处理创建数据(插入前)
    */
    protected function processCreateData(array $data): array
    {
        return $data;
    }

    /**
    * 处理更新数据(更新前)
    */
    protected function processUpdateData(array $data, $oldModel): array
    {
        return $data;
    }

    protected function afterUpdate($model, $oldModel)
    {
        $this->saveGrants($model);
    }

    protected function afterCreate($model)
    {
        $this->saveGrants($model);
    }

    public function afterDelete($oldModel)
    {
        // 删除数据关联
        //TradeProductToProductRiskModel::where('product_risk_id', $oldModel['id'])->delete();
    }

    private function saveGrants($model)
    {
        $grant_ids = input('grant_ids');
        if ($grant_ids) {
            $model->grants()->detach();
            $model->grants()->attach($grant_ids);
        }
    }

}
