<?php

namespace app\common\dao;

use app\common\bean\{{ bean_name }};
use app\common\dao\basic\{{basic_class_name }};
use think\Db;

/**
 * 提供针对 表【{{table_name}}】的相关操作
 */
class {{class_name}} extends {{basic_class_name }}
{

}